# Main discord bot token
DISCORD_BOT_TOKEN=your_token_here

# Specific IDs
# Find these by enabling developer mode and right clicking a user or server
MANAGER_ID=your_own_discord_id
SERVER_ID=your_discord_server_id

# One of: DEBUG INFO WARN ERROR CRITICAL
LOG_LEVEL=INFO
